.App {
  text-align: center;
}

body {
  padding-top: 4rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.font-nav {
  font-family: 'Bentham', serif;
  font-size: 135%;
}

.font-card {
  font-family: 'Fira Sans', sans-serif;
}